src/main/resources/schemas/pain.001.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
           elementFormDefault="qualified">
    
    <!-- Root Element -->
    <xs:element name="Document" type="Document"/>
    
    <!-- Document Type -->
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CstmrCdtTrfInitn" type="CustomerCreditTransferInitiationV03"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Customer Credit Transfer Initiation -->
    <xs:complexType name="CustomerCreditTransferInitiationV03">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader32"/>
            <xs:element name="PmtInf" type="PaymentInstructionInformation3" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Group Header -->
    <xs:complexType name="GroupHeader32">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="NbOfTxs" type="Max15NumericText"/>
            <xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
            <xs:element name="InitgPty" type="PartyIdentification32"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Payment Instruction Information -->
    <xs:complexType name="PaymentInstructionInformation3">
        <xs:sequence>
            <xs:element name="PmtInfId" type="Max35Text"/>
            <xs:element name="PmtMtd" type="PaymentMethod3Code"/>
            <xs:element name="BtchBookg" type="xs:boolean" minOccurs="0"/>
            <xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0"/>
            <xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
            <xs:element name="ReqdExctnDt" type="ISODate"/>
            <xs:element name="Dbtr" type="PartyIdentification32"/>
            <xs:element name="DbtrAcct" type="CashAccount16"/>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4"/>
            <xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0"/>
            <xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation10" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Credit Transfer Transaction Information -->
    <xs:complexType name="CreditTransferTransactionInformation10">
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification1"/>
            <xs:element name="Amt" type="AmountType3Choice"/>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
            <xs:element name="Cdtr" type="PartyIdentification32"/>
            <xs:element name="CdtrAcct" type="CashAccount16"/>
            <xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Party Identification -->
    <xs:complexType name="PartyIdentification32">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
            <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Postal Address -->
    <xs:complexType name="PostalAddress6">
        <xs:sequence>
            <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
            <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Cash Account -->
    <xs:complexType name="CashAccount16">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Account Identification Choice -->
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    
    <!-- Generic Account Identification -->
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Financial Institution Identification -->
    <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="FinancialInstitutionIdentification7">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Payment Identification -->
    <xs:complexType name="PaymentIdentification1">
        <xs:sequence>
            <xs:element name="InstrId" type="Max35Text" minOccurs="0"/>
            <xs:element name="EndToEndId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Amount Type Choice -->
    <xs:complexType name="AmountType3Choice">
        <xs:choice>
            <xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    
    <!-- Currency and Amount -->
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- Remittance Information -->
    <xs:complexType name="RemittanceInformation5">
        <xs:sequence>
            <xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Simple Types -->
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    
    <xs:simpleType name="PaymentMethod3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHK"/>
            <xs:enumeration value="TRF"/>
            <xs:enumeration value="TRA"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ChargeBearerType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEBT"/>
            <xs:enumeration value="CRED"/>
            <xs:enumeration value="SHAR"/>
            <xs:enumeration value="SLEV"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
